html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

.card{
  margin: 50px auto;
  width : 500px;
}

.card-media{
  height:500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content{
  font-size: 14px;
  line-height: 24px;
}

.btn-rotate{
  position: absolute;
  right:-28px;
  top:-28px;
}
